.heroWrapper {
  background-color: #ffffff;
  border-bottom: 1px solid #e3e6f3; /* colors.secondaryGrey3 */
  position: relative;
  overflow: hidden;
}

/* Full width container styling */
.container {
  padding-top: 48px;
  padding-bottom: 48px;
  /* Динамичен padding за различни екрани */
  padding-left: 24px;
  padding-right: 24px;
}

@media (min-width: 960px) {
  .container {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (min-width: 1536px) {
  .container {
    padding-left: 64px;
    padding-right: 64px;
  }
}

.title {
  margin-bottom: 32px !important;
  font-weight: 800 !important;
  text-align: center;
}

.searchPaper {
  padding: 8px;
  display: flex;
  gap: 12px;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto; /* Центриране */
  border: 1px solid #e3e6f3;
  border-radius: 8px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
}

@media (max-width: 900px) {
  .searchPaper {
    flex-direction: column;
  }
}

.trendingContainer {
  margin-top: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  flex-wrap: wrap;
}

.trendingLabel {
  font-weight: 600 !important;
}
